body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #0f2027;
  color: white;
  text-align: center;
}

.games {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.card {
  background: #111;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  text-decoration: none;
  color: cyan;
  box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

.card:hover {
  transform: scale(1.05);
}
