body{
  margin:0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #001d2e, #000);
  color:white;
  text-align:center;
}

h1{
  margin-top:30px;
  font-size:2.5rem;
}

.games{
  display:flex;
  justify-content:center;
  margin-top:40px;
}

.card{
  background:rgba(0,255,255,0.1);
  border:2px solid cyan;
  border-radius:15px;
  padding:25px;
  width:220px;
  text-decoration:none;
  color:white;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.08);
  box-shadow:0 0 25px cyan;
}

.back{
  display:inline-block;
  margin-top:40px;
  color:cyan;
  text-decoration:none;
}
